[character="Phoenix"] {
    --color: #4c81ef;
    --hue: 220;
    --name: "Phoenix";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/aa/phoenix.png");
}

[character="Trucy"] {
    --color: #65d2fa;
    --hue: 196;
    --name: "Trucy";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/aa/trucy.png");
}
