:root {
    --msr-icon-border: 12px 4px;
    --msr-icon-size: 50px;
    --msr-icon-size__small: 45px;
    --msr-name-case: uppercase;
    /* --msr-line-filter: drop-shadow(0 1px 1.5px rgba(0, 0, 0, 0.05)) drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
	 */
    --msr-line-border: 8px;
    --msr-line-size: 1em;
}

.msr-unit {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
    row-gap: 1px;
    margin-bottom: 1em;
    font-size: 1em;
    --light-mode: hsl(var(--hue), 54%, 93%);
    --dark-mode: hsl(var(--hue), 12%, 25%);
    --fill-mode: hsl(var(--hue), 30%, 45%);
}

.msr-unit * {
    transition: all 0.2s ease;
}

.msr-icon {
    grid-row: 0.3333333333;
}

.msr-icon__wrapper {
    border-radius: var(--msr-icon-border);
    position: relative;
    overflow: hidden;
    width: var(--msr-icon-size);
    height: var(--msr-icon-size);
}

.msr-icon__base {
    display: block;
    background: 100% / 100%
            var(
                --icon,
                url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
            ),
        var(--color, #b3b3b3);
    width: 100%;
    height: 100%;
}

.msr-name {
    font-size: 0.85em;
    line-height: 1;
    font-weight: 700;
    text-transform: var(--msr-name-case);
}

.msr-name::before {
    content: var(--name, "???");
}

.msr-line {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    row-gap: 5px;
}

.msr-line p {
    align-self: flex-start;
    font-size: var(--msr-line-size);
    background: var(--light-mode, #f1f1f1);
    color: #222;
    padding: 0.6em;
    margin: 0;
    border-radius: var(--msr-line-border);
    position: relative;
    filter: var(--msr-line-filter, 0);
}

.msr-line p:hover {
    transform: translate(2px, 0px);
}

.msr-line p:first-child {
    border-top-left-radius: 0;
}

.msr-line p:first-child::before {
    background: transparent;
    content: "";
    position: absolute;
    left: -30px;
    top: 0px;
    height: 10px;
    width: 30px;
    border-top-right-radius: 25px;
    box-shadow: 23px 0 0 0 var(--light-mode, #f1f1f1);
}

[unknown] .msr-icon__base {
    background: #b3b3b3;
}

[unknown] .msr-icon__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    -webkit-mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    -webkit-mask-size: 100%;
    -webkit-mask-position: 100%;
    mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    mask-size: 100%;
    mask-position: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}

[unknown] .msr-name::before {
    content: "???";
}

[unknown] .msr-line p {
    background: #f1f1f1;
}

[unknown] .msr-line p:first-child::before {
    box-shadow: 20px 0 0 0 #f1f1f1;
}

[hidden] .msr-icon__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    -webkit-mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    -webkit-mask-size: 100%;
    -webkit-mask-position: 100%;
    mask-image: var(
        --icon,
        url("https://cdn.jsdelivr.net/gh/enstars/img/icon/unknown.png")
    );
    mask-size: 100%;
    mask-position: 100%;
    top: 0;
    width: 100%;
    height: 100%;
}

.hold {
    display: inline-block;
}

.thought {
    color: #5555c0;
}

.spell {
    font-family: "Almendra", serif;
    letter-spacing: 0.015em;
    font-size: 1.1em;
    line-height: 1.3;
}

[character].dark .msr-line p {
    background: var(--dark-mode, #0e0e0e);
    color: #eee;
}

[character].dark .msr-line p:first-child::before {
    box-shadow: 20px 0 0 0 var(--dark-mode, #0e0e0e);
}

[character].dark .msr-line[unknown] p {
    background: #0e0e0e;
}

[character].dark .msr-line[unknown]:first-child::before {
    box-shadow: 20px 0 0 0 #0e0e0e;
}

.dark .thought {
    color: #d4d4fa;
}

[character].fill .msr-line p {
    background: var(--fill-mode, #737373);
    color: #fff;
}

[character].fill .msr-line p:first-child::before {
    box-shadow: 20px 0 0 0 var(--fill-mode, #737373);
}

[character].fill .msr-line[unknown] p {
    background: #737373;
}

[character].fill .msr-line[unknown]:first-child::before {
    box-shadow: 20px 0 0 0 #737373;
}

.fill .thought {
    color: #e9efff;
}

[character].smallest .msr-line p {
    font-size: 0.8em;
}

[character].smaller .msr-line p {
    font-size: 0.9em;
}

[character].bigger .msr-line p {
    font-size: 1.1em;
}

[character].biggest .msr-line p {
    font-size: 1.2em;
}

@media (min-width: 1200px) {
    .spell {
        font-size: 1.15em;
    }
}

@media (max-width: 650px) {
    .msr-unit {
        margin-bottom: 0.85em;
    }
    .msr-icon__wrapper {
        width: var(--msr-icon-size__small);
        height: var(--msr-icon-size__small);
    }
    .msr-line {
        row-gap: 3px;
    }
}
