@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@1,400;1,700&display=swap');

[mt="normal"], [mt="rare"] {
    display: inline-block;
    width: 25px;
    height: 29.28px;
    margin: 0 10px -8px 0 !important;
    background-size: cover;
}

[mt="normal"] {
    background-image: url("https://cdn.jsdelivr.net/gh/watatomo/img/enst/talkevent_normal.png");
}

[mt="rare"] {
    background-image: url("https://cdn.jsdelivr.net/gh/watatomo/img/enst/talkevent_rare.png");
}

span.spell {
    font-family: 'Almendra', serif !important;
    letter-spacing: .015em;
    font-size: 1.1em;
    line-height: 1.3;
}

@media (min-width: 1200px) {
    [character] p>span.spell {
        font-size: 1.15em;
    }
}

[character="Anzu"] {
    --color: #ffb6da;
    --hue: 330.4;
    --name: "Anzu";
}

[character="Adonis"] {
    --color: #915da3;
    --hue: 284.6;
    --name: "Adonis";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/adonis.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/adonis.png");
}

[character="Aira"] {
    --color: #fff1cf;
    --hue: 42.5;
    --name: "Aira";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/aira.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/aira.png");
}

[character="Akiomi"] {
    --color: #915c8b;
    --hue: 306.8;
    --name: "Akiomi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/akiomi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/akiomi.png");
}

[character="Arashi"] {
    --color: #edde7b;
    --hue: 52.1;
    --name: "Arashi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/arashi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/arashi.png");
}

[character="Chiaki"] {
    --color: #e60033;
    --hue: 346.7;
    --name: "Chiaki";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/chiaki.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/chiaki.png");
}

[character="Eichi"] {
    --color: #fff3b8;
    --hue: 49.9;
    --name: "Eichi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/eichi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/eichi.png");
}

[character="Gatekeeper"] {
    --color: #7e6407;
    --hue: 46.9;
    --name: "Gatekeeper";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/gatekeeper.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/gatekeeper.png");
}

[character="Hajime"] {
    --color: #cab8d9;
    --hue: 272.7;
    --name: "Hajime";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hajime.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hajime.png");
}

[character="Hiiro"] {
    --color: #ba2636;
    --hue: 353.5;
    --name: "Hiiro";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hiiro.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hiiro.png");
}

[character="HiMERU"] {
    --color: #89c3eb;
    --hue: 204.5;
    --name: "HiMERU";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/himeru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/himeru.png");
}

[character="Hinata"] {
    --color: #eb6ea0;
    --hue: 336;
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hinata.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hinata.png");
}

[character="Hiyori"] {
    --color: #b8d200;
    --hue: 67.4;
    --name: "Hiyori";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hiyori.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hiyori.png");
}

[character="Hokuto"] {
    --color: #0068b7;
    --hue: 205.9;
    --name: "Hokuto";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/hokuto.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/hokuto.png");
}

[character="Ibara"] {
    --color: #74325c;
    --hue: 321.8;
    --name: "Ibara";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/ibara.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/ibara.png");
}

[character="Izumi"] {
    --color: #bbdbf3;
    --hue: 205.7;
    --name: "Izumi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/izumi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/izumi.png");
}

[character="Jin"] {
    --color: #8da0b6;
    --hue: 212.2;
    --name: "Jin";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/jin.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/jin.png");
}

[character="Jun"] {
    --color: #192f60;
    --hue: 221.4;
    --name: "Jun";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/jun.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/jun.png");
}

[character="Kanata"] {
    --color: #008db7;
    --hue: 193.8;
    --name: "Kanata";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kanata.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kanata.png");
}

[character="Kaoru"] {
    --color: #fdd35c;
    --hue: 44.3;
    --name: "Kaoru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kaoru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kaoru.png");
}

[character="Keito"] {
    --color: #316745;
    --hue: 142.2;
    --name: "Keito";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/keito.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/keito.png");
}

[character="Koga"] {
    --color: #c9caca;
    --hue: 180;
    --name: "Koga";
    --light-mode: hsl(180, 9%, 92%) !important;
    --dark-mode: hsl(180, 5%, 25%) !important;
    --fill-mode: hsl(180, 5%, 45%) !important;
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/koga.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/koga.png");
}

[character="Kohaku"] {
    --color: #f4b3c2;
    --hue: 346.2;
    --name: "Kohaku";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kohaku.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kohaku.png");
}

[character="Kuro"] {
    --color: #e83929;
    --hue: 5;
    --name: "Kuro";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/kuro.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/kuro.png");
}

[character="Leo"] {
    --color: #ec6d51;
    --hue: 10.8;
    --name: "Leo";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/leo.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/leo.png");
}

[character="Madara"] {
    --color: #622d18;
    --hue: 17;
    --name: "Madara";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/madara.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/madara.png");
}

[character="Makoto"] {
    --color: #65ab31;
    --hue: 94.4;
    --name: "Makoto";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/makoto.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/makoto.png");
}

[character="Mao"] {
    --color: #941f57;
    --hue: 331.3;
    --name: "Mao";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mao.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mao.png");
}

[character="Mayoi"] {
    --color: #522f60;
    --hue: 282.9;
    --name: "Mayoi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mayoi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mayoi.png");
}

[character="Midori"] {
    --color: #00533f;
    --hue: 165.5;
    --name: "Midori";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/midori.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/midori.png");
}

[character="Mika"] {
    --color: #006a6c;
    --hue: 181.1;
    --name: "Mika";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mika.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mika.png");
}

[character="Mitsuru"] {
    --color: #ed6d35;
    --hue: 18.3;
    --name: "Mitsuru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/mitsuru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/mitsuru.png");
}

[character="Nagisa"] {
    --color: #a73836;
    --hue: 1.1;
    --name: "Nagisa";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/nagisa.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/nagisa.png");
}

[character="Natsume"] {
    --color: #d70035;
    --hue: 345.2;
    --name: "Natsume";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/natsume.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/natsume.png");
}

[character="Nazuna"] {
    --color: #ffec47;
    --hue: 53.8;
    --name: "Nazuna";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/nazuna.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/nazuna.png");
}

[character="Niki"] {
    --color: #507ea4;
    --hue: 207.1;
    --name: "Niki";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/niki.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/niki.png");
}

[character="Rei"] {
    --color: #47266e;
    --hue: 267.5;
    --name: "Rei";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/rei.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/rei.png");
}

[character="Rinne"] {
    --color: #b7282e;
    --hue: 357.5;
    --name: "Rinne";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/rinne.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/rinne.png");
}

[character="Ritsu"] {
    --color: #001e43;
    --hue: 213.1;
    --name: "Ritsu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/ritsu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/ritsu.png");
}

[character="Seiya"] {
    --color: #07467f;
    --hue: 208.5;
    --name: "Seiya";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/seiya.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/seiya.png");
}

[character="Shinobu"] {
    --color: #ffdc00;
    --hue: 51.8;
    --name: "Shinobu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/shinobu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/shinobu.png");
}

[character="Shu"] {
    --color: #e3acae;
    --hue: 357.8;
    --name: "Shu";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/shu.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/shu.png");
}

[character="Sora"] {
    --color: #fff352;
    --hue: 55.8;
    --name: "Sora";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/sora.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/sora.png");
}

[character="Souma"] {
    --color: #5654a2;
    --hue: 241.5;
    --name: "Souma";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/souma.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/souma.png");
}

[character="Subaru"] {
    --color: #f3981d;
    --hue: 34.5;
    --name: "Subaru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/subaru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/subaru.png");
}

[character="Tatsumi"] {
    --color: #7ebea5;
    --hue: 156.6;
    --name: "Tatsumi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tatsumi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tatsumi.png");
}

[character="Tetora"] {
    --color: #302833;
    --hue: 283.6;
    --name: "Tetora";
    --light-mode: hsl(283.6, 9%, 92%) !important;
    --dark-mode: hsl(283.6, 5%, 25%) !important;
    --fill-mode: hsl(283.6, 5%, 45%) !important;
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tetora.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tetora.png");
}

[character="Tomoya"] {
    --color: #eedcb3;
    --hue: 41.7;
    --name: "Tomoya";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tomoya.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tomoya.png");
}

[character="Tori"] {
    --color: #f5b2b2;
    --hue: 0;
    --name: "Tori";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tori.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tori.png");
}

[character="Tsukasa"] {
    --color: #942343;
    --hue: 343;
    --name: "Tsukasa";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tsukasa.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tsukasa.png");
}

[character="Tsumugi"] {
    --color: #00608d;
    --hue: 199.1;
    --name: "Tsumugi";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/tsumugi.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/tsumugi.png");
}

[character="Wataru"] {
    --color: #a1d8e2;
    --hue: 189.2;
    --name: "Wataru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/wataru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/wataru.png");
}

[character="Yuta"] {
    --color: #00a1e9;
    --hue: 198.5;
    --name: "Yuta";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/yuta.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/yuta.png");
}

[character="Yuzuru"] {
    --color: #3e62ad;
    --hue: 220.5;
    --name: "Yuzuru";
    --icon: url("https://cdn.jsdelivr.net/gh/enstars/img/icon/yuzuru.png");
    --charahead: url("https://cdn.jsdelivr.net/gh/enstars/img/charahead/yuzuru.png");
}
