[character="Akari"] {
    --color: #e71d0f;
    --hue: 4;
    --name: "Akari";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imascg/akari.png");
}

[character="Akira"] {
    --color: #849fbc;
    --hue: 211;
    --name: "Akira";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imascg/akira.png");
}

[character="Riamu"] {
    --color: #e39ed4;
    --hue: 313;
    --name: "Riamu";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imascg/riamu.png");
}

[character="Akari-Akira"] {
    --name: "Akari & Akira";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imascg/akari-akira.png");
}

[character="Akira-Riamu"] {
    --name: "Akira & Riamu";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imascg/akira-riamu.png");
}

[character="Akari-Riamu"] {
    --name: "Akari & Riamu";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imascg/akari-riamu.png");
}
