[character="Kaoru"] {
    --color: #1a47bc;
    --hue: 223;
    --name: "Kaoru";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imassm/kaoru.png");
}

[character="Teru"] {
    --color: #e41e1b;
    --hue: 1;
    --name: "Teru";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imassm/teru.png");
}

[character="Tsubasa"] {
    --color: #3dae2a;
    --hue: 111;
    --name: "Tsubasa";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/imassm/tsubasa.png");
}
