[character="Miku"], [character="25ji-Miku"], [character="Ln-Miku"], [character="MMJ-Miku"], [character="VBS-Miku"], [character="WxS-Miku"] {
    --color: #33CCBB;
    --name: "Miku";
    --hue: 173;
}

[character="Miku"] {
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/miku.png");
}

[character="25ji-Miku"] {
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/miku_25ji.png");
}

[character="Ln-Miku"] {
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/miku_ln.png");
}

[character="MMJ-Miku"] {
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/miku_mmj.png");
}

[character="VBS-Miku"] {
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/miku_vbs.png");
}

[character="WxS-Miku"] {
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/miku_wxs.png");
}

[character="Rin"] {
    --color: #FFCC11;
    --hue: 47;
    --name: "Rin";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/rin.png");
}

[character="Len"] {
    --color: #FFEE11;
    --hue: 56;
    --name: "Len";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/len.png");
}

[character="Luka"] {
    --color: #FFBBCC;
    --hue: 345;
    --name: "Luka";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/luka.png");
}

[character="Meiko"] {
    --color: #DD4444;
    --hue: 0;
    --name: "Meiko";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/meiko.png");
}

[character="Kaito"] {
    --color: #3366CC;
    --hue: 220;
    --name: "Kaito";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/kaito.png");
}

[character="Ichika"] {
    --color: #33AAEE;
    --hue: 202;
    --name: "Ichika";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/ichika.png");
}

[character="Saki"] {
    --color: #FFDD44;
    --hue: 49;
    --name: "Saki";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/saki.png");
}

[character="Honami"] {
    --color: #EE6666;
    --hue: 0;
    --name: "Honami";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/honami.png");
}

[character="Shiho"] {
    --color: #BBDD22;
    --hue: 71;
    --name: "Shiho";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/shiho.png");
}

[character="Minori"] {
    --color: #FFCCAA;
    --hue: 24;
    --name: "Minori";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/minori.png");
}

[character="Haruka"] {
    --color: #99CCFF;
    --hue: 210;
    --name: "Haruka";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/haruka.png");
}

[character="Airi"] {
    --color: #FFAACC;
    --hue: 336;
    --name: "Airi";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/airi.png");
}

[character="Shizuku"] {
    --color: #99EEDD;
    --hue: 168;
    --name: "Shizuku";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/shizuku.png");
}

[character="Kohane"] {
    --color: #FF6699;
    --hue: 340;
    --name: "Kohane";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/kohane.png");
}

[character="An"] {
    --color: #00BBDD;
    --hue: 189;
    --name: "An";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/an.png");
}

[character="Akito"] {
    --color: #FF7722;
    --hue: 23;
    --name: "Akito";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/akito.png");
}

[character="Toya"] {
    --color: #0077DD;
    --hue: 208;
    --name: "Toya";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/toya.png");
}

[character="Emu"] {
    --color: #FF66BB;
    --hue: 327;
    --name: "Emu";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/emu.png");
}

[character="Nene"] {
    --color: #33DD99;
    --hue: 156;
    --name: "Nene";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/nene.png");
}

[character="Rui"] {
    --color: #BB88EE;
    --hue: 270;
    --name: "Rui";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/rui.png");
}

[character="Tsukasa"] {
    --color: #FFBB00;
    --hue: 44;
    --name: "Tsukasa";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/tsukasa.png");
}

[character="Kanade"] {
    --color: #BB6688;
    --hue: 336;
    --name: "Kanade";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/kanade.png");
}

[character="Mafuyu"] {
    --color: #8888CC;
    --hue: 240;
    --name: "Mafuyu";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/mafuyu.png");
}

[character="Ena"] {
    --color: #CCAA88;
    --hue: 30;
    --name: "Ena";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/ena.png");
}

[character="Mizuki"] {
    --color: #DDAACC;
    --hue: 320;
    --name: "Mizuki";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/pjsk/mizuki.png");
}
