.trainer p {
    padding: 1em;
    background: #eee;
    border-radius: 10px;
    display: table;
    color: #222;
}

.trainer p:last-of-type {
    margin-bottom: 1em;
}

[character="BakushinO"] {
    --color: #ee70ab;
    --hue: 332;
    --name: "Sakura Bakushin O";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/umas/bakushin.png");
}

[character="Cafe"] {
    --color: #4a4642;
    --hue: 30;
    --light-mode: hsl(30, 9%, 94%);
    --fill-mode: hsl(30, 5%, 24%);
    --name: "Manhattan Cafe";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/umas/cafe.png");
}

[character="Rudolf"] {
    --color: #1d7864;
    --hue: 167;
    --name: "Symboli Rudolf";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/umas/rudolf.png");
}

[character="Shakur"] {
    --color: #255ab4;
    --hue: 218;
    --name: "Air Shakur";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/umas/shakur.png");
}

[character="Tachyon"] {
    --color: #36b2b6;
    --hue: 182;
    --name: "Agnes Tachyon";
    --icon: url("https://cdn.jsdelivr.net/gh/watatomo/img/icon/umas/tachyon.png");
}
